.action-form
  h3
    | アカウント編集
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    fieldset
      p
        = t('.leave_blank_if_you_don_t_want_to_change_it')
      .form-group
        = f.label :password
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    fieldset
      p
        = t('.we_need_your_current_password_to_confirm_your_changes')
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    = f.submit t('.update'), :class => 'button right'
.action-form
  h3
    = t('.cancel_my_account')
  p
    = t('.unhappy')
  = button_to t('.cancel_my_account'), registration_path(resource_name), :data => { :confirm => t('.are_you_sure') }, :method => :delete, :class => 'button right'
