.action-form
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    h3
      | パスワードをお忘れですか?
    p
      | パスワードをリセットします。
    = devise_error_messages!
    .form-group
      = f.label :email, "メールアドレス"
      = f.email_field :email, :autofocus => true, class: 'form-control'
    = f.submit 'リセットパスワード', :class => 'button right'
