// Place all the styles related to the admin/Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// product登録画面のプレビュー用画像
.preview-product-img {
  width: 150px;
}

// product一覧画面の画像用
.list-product-img {
  width: 80px;
}

// product詳細画面用の画像
.detail-product-img {
  width: 200px;
}