<h3>カテゴリー一覧</h3>

<div id="searchFormRender">
  <%= render 'search_form', search_category: @search_category %>
</div>

<div id="tableRender">
  <%= render 'table', categories: @categories %>
</div>

<br>
