- if user_signed_in?
  - if current_user.try(:admin?)
    li.dropdown
      a.dropdown-toggle[data-toggle="dropdown" href="#"]
        | 管理 
        span.caret
      ul.dropdown-menu
        li
          = link_to 'ユーザ一管理', admin_users_path
        li
          = link_to 'カテゴリー一覧', admin_categories_path
        li
          = link_to 'カテゴリー登録', new_admin_category_path
        li
          = link_to 'パブリッシャー一覧', admin_publishers_path
        li
          = link_to 'パブリッシャー登録', new_admin_publisher_path
